extends ../layouts/default

block content
	if enquirySubmitted
		.jumbotron.text-center
			h2 Успешно записан отзив!

	else
		.page-header
			h1 Отзив
		form(method='post').form-horizontal
			input(type='hidden', name='action', value='contact')
			.form-group(class=validationErrors.name ? 'has-error' : null)
				label.col-sm-2.text-left.control-label Име
				.col-sm-10
					input(type='text' name='name.full' value=formData['name.full'] required placeholder='Вашето име').form-control
			.form-group(class=validationErrors.email ? 'has-error' : null)
				label.col-sm-2.control-label Email
				.col-sm-10
					input(type='email' name='email' value=formData.email required placeholder="name@domain.com").form-control
			.form-group
				label.col-sm-2.control-label Телефон
				.col-sm-10
					input(type='text' name='phone' value=formData.phone placeholder='(незадължително)').form-control
			.form-group(class=validationErrors.enquiryType ? 'has-error' : null required)
				label.col-sm-2.control-label Относно
				.col-sm-10
					select(name='enquiryType').form-control
						option(value='') (задължително)
						each type in enquiryTypes
							option(value=type.value selected=formData.enquiryType === type.value)= type.label
			.form-group(class=validationErrors.message ? 'has-error' : null)
				label.col-sm-2.control-label Съобщение
				.col-sm-10
					textarea(name='message' placeholder='Здравейте, ...' rows=4 required).form-control= formData.message
			.form-group
				.col-sm-10.col-sm-offset-2
					button(type='submit').btn.btn-primary Изпрати