extends ../layouts/default

include ../mixins/product
include ../mixins/category

mixin domain-logo(domain)
	if(domain.logo && domain.logo.filename)
		img(src='/media/'+ domain.logo.filename alt=domain.name style='margin: 0 auto;').img-responsive
	else
		h1= domain.name

mixin carousel(elId, items)
	.carousel.slide(id=elId data-ride='carousel'): .carousel-inner(role='listbox')
			ol.carousel-indicators: each item, i in items
				li(data-target='#'+ elId data-slide-to=i class=!i?'active':'')
			block

block intro
	.text-center
		.jumbotron(style='margin-top: -20px; background-image: url(/media/'+ (domain && domain.background && domain.background.image ? domain.background.image.filename : '') +')')
			a.btn.container(href='/menu')
				+domain-logo(domain)
				h2(style='color: #fff;') Наргиле бар
		h2 Добре дошли!
	+carousel('banners', banners)
		each banner, b in banners
			.item(class=!b?'active':''): a.banner(href='/menu'+ (banner.category? '/'+ banner.category.key :'') style='background-image:url(/media/'+ banner.imageFile +');')
				.carousel-caption
					h2.title= banner.name
					p.text-primary.lead= banner.text

block content
	section.text-center
		a(href='/menu'): h2 Промоции
		+carousel('featured-products', featuredProducts)
			each product, p in featuredProducts
				.item(class=!p?'active':''): a.product(href='/menu/product/'+ product.key style='background-image:url(/media/'+ product.imageFile +');')
					.carousel-caption
						h3.title= product.name
						.details: +product-details(product)

		a(href='/menu'): h2 Нови предложения
		+carousel('new-products', newProducts)
			each product, p in newProducts
				.item(class=!p?'active':''): a.product(href='/menu/product/'+ product.key style='background-image:url(/media/'+ product.imageFile +');')
					.carousel-caption
						h3.title= product.name
						.details: +product-details(product)

		a(href='/menu'): h2 Категории
		ul.list-inline: each category in categories
			li: +category(category)

		a(href='/menu'): +domain-logo(domain)

block page-js
	script(src='/js/lib/bootstrap/carousel.js')