extends ../layouts/default

include ../mixins/category
include ../mixins/product

block page-js
	script.
		$(document).ready(function() {
			$('#search-products').click(function() {
				$('#search-products-term').focus();
			});
		});

block intro
	.container
		.page-header
			h1
				a(href='/menu')= category ? category.name : 'Меню'
				if filters.search.length
					small  искате <b>#{ filters.search }</b>?
		if subcategories && subcategories.length
			.navbar.navbar-default: .container
				.navbar-header(data-toggle='collapse' data-target='#navbar-subcats-collapse')
					a.navbar-brand.btn.btn-block(href='javascript:void(0);')
						i.fa.fa-fw.fa-bars.visible-xs-inline
						|  Подкатегории
				.collapse.navbar-collapse#navbar-subcats-collapse
					ul.nav.navbar-nav.navbar-left
						each cat in subcategories
							li(class=category && category.id === cat.id ? 'active' : null)
								a(href='/menu/' + cat.key)
									i.fa.fa-tag
									if cat.productCount
										span.badge.pull-left(style='margin-right: .5em;')= cat.productCount
									span=' '+ cat.name
		if categories.length
			.navbar
				.navbar-header(data-toggle='collapse' data-target='#navbar-cats-collapse')
					a.navbar-brand.btn.btn-block(href='javascript:void(0);')
						i.fa.fa-fw.fa-bars.visible-xs-inline
						|  Категории
				.collapse.navbar-collapse#navbar-cats-collapse
					ul.nav.navbar-nav.navbar-left
						each cat in categories
							li(class=category && category.id === cat.id ? 'active' : null)
								a(href='/menu/' + cat.key)
									i.fa.fa-tag
									if cat.productCount
										span.badge.pull-left(style='margin-right: .5em;')= cat.productCount
									span=' '+ cat.name

block content
	if filters.category && !category
		h3 Несъществуваща категория.
	else
		if products.length
			.row
				each product in products
					.col-xs-12.col-md-6: +product(product)
		else
			if category
				.jumbotron.text-center
					h3(style="margin-bottom:0;margin-top:0;") Няма продукти в #{category.name}.
			else
				.jumbotron.text-center
					h3(style="margin-bottom:0;margin-top:0;") Няма продукти.
