extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")

block content
	.page-header
		h1 Поръчки
	#page-orders
		.well.row
			.col-sm-6
				.btn.btn-default
					i.fa.fa-plus
					|  Маси
			.col-sm-6
				.form-inline(v-if='selection')
					label.control-label Маса:
					input.form-control(v-model='selection.name')
					label.control-label Места:
					input.form-control(v-model='selection.seats')
		.row
			.col-sm-8
				#loader.text-center.text-muted: i.fa.fa-4x.fa-spinner.fa-spin
				canvas#tables
			.col-sm-4
				p.text-muted Няма нови поръчки.

block page-js
	script(src="/js/lib/fabric.min.js")
	script(src="/js/table-canvas.js")
	script.
		//socket.on('add user')
		var vmOrders = new Vue({
			el: '#page-orders',
			data: {
				selection: null,
				tables: [],
			},
			watch: {
				selection: {
					deep: true,
					handler: function(newTable, oldTable) {
						if(!newTable || !oldTable) return;
						var tables = this.tables;
						jQuery.post('/api/tables', newTable, function(res) {
							if(!res || !res.updated) return;
							var obj = tableCanvas.canvas.getActiveObject();
							obj.item(1).set({ text: res.updated.name });
							obj.dirty = true;
						})
					}
				},
				tables: function(newTables) {
					tableCanvas.data = newTables;
					tableCanvas.draw();
				}
			}
		});
		var tableCanvas = new TableCanvas('tables', vmOrders);
		tableCanvas.canvas.setHeight(400);
		function resizePage() {
			tableCanvas.canvas.setWidth($('#tables').parent().parent().width());
		}
		jQuery(function($) {
			$(window).resize(resizePage);
			$(document).ready(resizePage);
			$.get('/api/tables', function(tables) {
				vmOrders.tables = tables;
				$('#loader').hide();
			});
		});
