doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
        title= title || domain.name
        style.
            .tile {
                display: inline-block;
                border: 1px dashed #ccc;
                border-width: 0 1px 1px 0;
            }
            .tile .name {
                font-size: 2em;
            }
    body
        div(style='text-align: center;')
            each table in tables
                a.tile(href=table.url)
                    img(src='data:image/png;base64,'+ table.qr)
                    .name= table.name