extends ../layouts/default

include ../mixins/reviewing
include ../mixins/category
include ../mixins/product
include ../mixins/order-form


block content
	if !product
		.jumbotron.text-center
			h2 Несъществуващ продукт
	else
		.text-center: ul.list-inline
			li: a.btn(href='/menu'): h4
				i.fa.fa-chevron-left
				|  Mеню
			if product.categories && product.categories.length
				each category in product.categories
					li: +category(category)
		.row.text-center
			header
				h1= product.name
			if(table)
				.alert: button.order(data-product=product.id data-toggle='modal' data-target='#modal-order').btn.btn-primary.btn-lg
					i.fa.fa-check-circle-o
					|  Поръчай за #{ product.price.toFixed(2) + ' лв.' }
			else
				.lead= product.price.toFixed(2) + ' лв.'
			.lead
				if(product.details.volume)
					b= product.details.volume
					small  мл.
				if(product.details.weight)
					b= product.details.weight
					small  гр.
			if(product.imageFile && product.details.description)
				.row
					.col-sm-6.text-right
						img(src='/media/'+ product.imageFile style='max-height: 512px; width: auto; margin: 0 auto;').img-responsive
					.col-sm-6.text-left
						if(product.details.description && product.details.description.length)
							blockquote: != product.details.description
			else if(product.imageFile)
				img(src='/media/'+ product.imageFile style='max-height: 512px; width: auto; margin: 0 auto;').img-responsive

		section
			a(href='/menu'): h2.text-center Препоръчани
			.row
				each product in products
					.col-xs-12.col-md-6: +product(product)

		section#reviews
			h2.text-center Отзиви
			.well: +review-form(product)

		#modal-order.modal.fade(title='Поръчка' aria-labeledby='modal-order-title')
			.modal-dialog: .modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span(aria-hidden='true') &times;
					#modal-order-title.modal-title Поръчка на #{ product.name }
				.modal-body: +order-form()

block page-js
	script(src='/js/lib/bootstrap/modal.js')
	script(src='/js/lib/rating.js')
	script.
		function getCookie(e) {
			var n = document.cookie, i = e +'=', o=n.indexOf('; '+ i);
			if(-1 == o) {
				if(o = n.indexOf(i), 0 != o) return null
			} else {
				o += 2;
				var t = document.cookie.indexOf(';', o); 	
				-1==t && (t=n.length);
			}
			return unescape(n.substring(o + i.length, t));
		}
		jQuery(function($) {
			$('#reviews .rating-input').rating();
			$('[href="#reviews"]').click(function(e) {
				e.preventDefault();
				$('html, body').animate({ scrollTop: $('#reviews').offset().top }, 250);
			});
			$('button.order').click(function() {
				var id = $(this).data('product');
				$('#modal-order input[name="product"]').val(id);
			});
			$('#modal-order .btn.ok').click(function() {
				var data = $('#modal-order form').serialize();
				var cookie = getCookie('activeOrder');
				var url = '/api/orders' + (!cookie ? '/new' : '');
				console.log(url, data, cookie);
				jQuery.post(url, data, function(res) {
					console.log(res)
				});
			});
		});
