mixin category(category)
    a.category.btn.btn-lg(href='/menu/' + category.key)
        i.fa.fa-tag
        if(category.productCount)
            .badge= category.productCount
        |  #{ category.name }