mixin order-form(id)
    form.form-horizontal()
        input(type='hidden' name='product')
        .form-group
            label.col-xs-3.control-label Брой
            .col-xs-9: input.form-control(type='number' name='quantity' min=1 value=1)
        .form-group
            label.col-xs-3.control-label Бележка
            .col-xs-9: textarea.form-control(name='notes')
        .form-group
            .col-xs-12.col-sm-6: .btn.btn-lg.btn-default.btn-block(data-dismiss='modal')
                i.fa.fa-chevron-left
                |  Назад
            .col-xs-12.col-sm-6: .btn.ok.btn-lg.btn-primary.btn-block
                i.fa.fa-check-circle-o
                |  Поръчай