mixin product-details(product)
	span.price
		- var price = product.price.toFixed(2).split('.');
		b= price[0]
		sup= price[1]
	small  лв.
	if(product.details.volume)
		p
			span= product.details.volume
			small  мл.
	if(product.details.weight)
		p
			span= product.details.weight
			small  гр.

mixin product(product)
	.media.product-wrapper
		.media-body.text-left: .row
			if product.imageFile
				.col-xs-5.image-wrapper
					a(href='/menu/product/' + product.key)
						img(src='/media/'+ product.imageFile).img-responsive
				.col-xs-7.col-sm-4
					a.lead.media-heading(href='/menu/product/' + product.key)= product.name
			else
				.col-xs-12.col-sm-9
					a.lead.media-heading(href='/menu/product/' + product.key)= product.name
			.details.col-xs-7.col-sm-3
				+product-details(product)