mixin review-form(product)
	form(method='post')
		input(type='hidden' name='action' value='review.create')
		p.lead.text-center Вашият отзив за #{ product ? product.name : 'този продукт' }:
		.row
			.col-sm-6
				input.form-control(name='text' placeholder='Вашето мнение')
			.col-sm-3
				.rating-input
					- for(var i=1; i<=5; i++)
						input.rating(type='radio' name='rating' value=i)
			.col-sm-3
				button.btn.btn-block.btn-primary(type='submit')
					i.fa.fa-star
					|  Дай отзив

mixin product-review(review)
	div(id='review-' + review.id, style="margin-top: 20px;")
		span.rating
			- for(var r=0; r<review.rating; r++)
				i.fa.fa-star.fa-fw
			- for(var r=5; r>review.rating; r--)
				i.fa.fa-star-o.fa-fw
		if user
			|  &middot; 
			a(href='?remove=review&review=' + review.id, title='Delete this review', rel='tooltip', data-placement='left').btn.btn-xs.btn-danger.pull-right.comment-delete.js-delete-confirm: i.fa.fa-remove
		b &nbsp; &nbsp; #{ review.text }

mixin review-thread(reviews)
	if reviews.length
		for review in reviews
			+product-review(review)
