include ../mixins/flash-messages

doctype html
html
	head
		if env === 'production'
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset='utf-8')
		meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
		
		title= title || domain.name
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet')
		link(href='/styles/font-awesome.css', rel='stylesheet')
		link(href='/styles/rating.css', rel='stylesheet')
		link(href='/styles/themes/' + currentTheme + '.min.css', rel='stylesheet')
		
		if user && user.canAccessKeystone
			link(href='/keystone/styles/content/editor.min.css', rel='stylesheet')
		
		block css
		block head
	body#app
		nav#header.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false')
						span.sr-only Toggle navigation
						i.fa.fa-fw.fa-bars
					button#search-toggle.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false'): i.fa.fa-fw.fa-search
					if(domain.logo && domain.logo.filename)
						a.navbar-brand.logo(href='/'): img(src='/media/'+ domain.logo.filename, alt=domain.name).img-responsive
					else
						a.navbar-brand(href='/')= domain.name
				.collapse.navbar-collapse#navbar-collapse
					ul.nav.navbar-nav.navbar-left
						each link in navLinks
							li(class=(section === link.key ? 'active' : null))
								a(href=link.href)= link.label
					ul.nav.navbar-nav.navbar-right
						if(table)
							li: a(href='#')
								i.fa.fa-shopping-cart
								|  Маса #{ table.name }
						if user
							li: a(href='/orders') Поръчки
							li: a(href='/keystone'): i.fa.fa-cog
					form.navbar-form.navbar-right(action='/menu')
						.form-group: input#search-text.form-control(name='search' placeholder='Търсене' value=filters?filters.search:'')
		#page(class=pageClass)
			.page-bg(style=pageStyle)
			block intro
			.container
				+flash-messages(messages)
				router-view
				block content
		.site-footer: .container.text-center
			a(href='/') &copy; #{ domain.name }
			p: small Изработено с внимание от NETSHELL

		script(src='/js/lib/jquery/jquery-3.1.1.min.js')
		script(src='/js/lib/bootstrap/collapse.js')
		script(src='/js/lib/bootstrap/dropdown.js')
		script(src='/js/lib/vue.min.js')
		script(src='/js/lib/socket.io.js')
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		script.
			var socket = io();
			jQuery(document).ready(function() {
				jQuery('#search-toggle').click(function() {
					setTimeout(function() { jQuery('#search-text').focus(); }, 100);
				});
			});
		block page-js