@import "bootstrap/bootstrap.less";
@import "site/layout.less";

body {
    padding-top: 40px;
}

#header .navbar-brand.logo {
    padding: 0;
}

#header .navbar-brand.logo img {
    max-height: 50px;
}

#header .form-control {
    height: auto;
    padding: 6px 16px;
}

#page {
    padding-top: 1em;
}

.carousel .banner,
.carousel .product {
    display: block;
    height: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.carousel .product {
    background-position: 33% center;
}


.carousel .banner .title,
.carousel .product .title {
    word-break: normal;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    margin: 3px;
    opacity: .5;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.page-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    z-index: -666;
}

.carousel,
.bg-wrapper {
    text-shadow: 2px 2px 1px #000;
}

.bg-wrapper {
    background-position: center center;
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
}

a.category {
    white-space: normal;
}

.product-wrapper .details {
    padding-top: .5em;
}

.product-wrapper .details .price sup {
    font-weight: bold;
}

.product-wrapper a {
    color: #fff;
}

.product-wrapper .text-muted {
    color: rgba(255,255,255,.5);
}

.product-wrapper .image-wrapper {
    padding: 0 0 1em 0;
    height: 200px;
}

.product-wrapper .image-wrapper img {
    max-height: 200px;
    margin: 0 auto;
}

.rating-input {
    text-align: center;
    padding: .5em 0;
}

.rating-input .star {
    float: none;
    display: inline-block;
}

#page-orders {
    background: #fff;
}